<!-- navbar.ejs -->

<div class="nav-item" onclick="toggleDashboard()">Dashboard</div>
<div class="nav-item" onclick="toggleTrucking()">Trucking Companies</div>
<div class="nav-item" onclick="toggleDrivers()">Drivers</div>
<div class="nav-item" onclick="toggleTruckUnit()">Truck Units</div>
<div class="nav-item" onclick="toggleDeliveries()">Deliveries</div>
<div class="nav-item" onclick="toggleMaintenance()"> Maintenance</div>
<div class="nav-item" onclick= "toggleBilling()">Billing</div>
<div class="nav-item" onclick="toggleUsers()">User Settings</div>
<button class="logout-btn" onclick="toggleLogout()">Logout</button>
